.weather-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.weather-dashboard .city {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-1);
    margin-bottom: 3rem;
}

.weather-dashboard .metric-switch {
    display: flex;
    flex-direction: row;
}

.weather-dashboard .metric-switch button {
    font-size: 1.4rem;
    padding: 0.5rem;
    color: var(--color-white);
    background: var(--color-accent);
    border: 0.2rem solid var(--color-light-blue);
    border-radius: 0.3rem;
    cursor: pointer;
}

.weather-dashboard .metric-switch button.disabled {
    opacity: 0.5;
}

.weather-dashboard .metric-switch button:first-of-type {
    margin-right: 1.5rem;
}

.error-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.error-container .error-title {
    font-size: 3rem;
    margin-bottom: 5rem;
}

.error-container .error-subtitle {
    font-size: 1.6rem;
}
