:root {
    --color-white: #ffffff;
    --color-light-blue: #9dbef7;
    --color-light-violet: #dcdeeb;
    --color-accent: #2f5fcf;
    --background-1: #ffffff;
    --color-1: #2d3748;
    --color-2: #9b999b;
    --stroke-1: #e2e8f0;
    --stroke-2: #ccccce;
}