:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: #87dec2;
    --color-accent: #379de6;
    --background-1: #f7fafc;
    --color-1: #2d3748;
    --color-2: #9b999b;
    --color-3: #d3d0d0;
    --stroke: #e2e8f0;
}