@import "styles/normalize.css";
@import "styles/reset.css";
@import "styles/variables.css";

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background-1);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Screen sizes for media queries
size-sm: 640px;
size-m: 768px;
size-l: 1024px;
size-xl: 1280px;
size-xxl: 1440px;
size-xxxl: 1536px; */

@media only screen and (max-width: 1440px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1280px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 16px;
    }
}
